.home-container {
  background-size: cover;
  background: url('https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?crop=entropy&cs=tinysrgb&fm=jpg&ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDJ8fGhhY2t8ZW58MHx8fHwxNjUzMzA3OTM5&ixlib=rb-1.2.1&q=80&raw_url=true&w=1500') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
}

.menu {
  z-index: 1;
  padding: 0;
  margin: -8px;
  position: sticky;
  top: 0;
}

ul.horizontal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  text-justify: inter-word;
}

ul.horizontal h1 {
  color: white;
  float: left;
  margin: 0 10px;
  margin-top: 3px;
  margin-bottom: 0;
}

ul.horizontal li {
  float: left;
}

ul.horizontal li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-weight: bold;
  font-size: large;
  text-decoration: none;
}

ul.horizontal li a:hover:not(.active) {
  background-color: #000;
  cursor: pointer;
}

ul.horizontal li a.active {
  background-color: #04AA6D;
}

.home-intro {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: white;
  text-align: center;
  line-height: 0.3;
  background-color: black;
  margin-top: -40px;
  margin-left: -8px;
  margin-right: -8px;
  width: auto;
  text-justify: inherit;
}

.home-intro h1 {
  animation: 1s ease-out 0s 1 slideInFromLeft;
  font-size: 60px;
}

.home-intro h2 {
  animation: 1s ease-out 0s 1 slideInFromRight;
  font-size: 40px;
}

.home {
  margin: 0;
  padding: 0;
}

.home-guide-animation {
  animation: 5s ease-out 0s infinite wiggle;
}

.home-left {
  position: relative;
  display: grid;
  color: white;
  width: 70%;
  grid-template-columns: auto;
  font-size: 150%;
  padding: 10px;
  margin: 5px;
}

.home-left-animation {
  animation: 1s ease-out 0s 1 slideInFromUnder;
}

.home-left img {
  animation: 1s ease-out 0s 1 slideInFromRight;
  max-width: 500px;
}

.info {
  margin: 0px 10px;
  padding: 20px 0px;
}

.info a {
  font-size: 36px;
  font-weight: bold;
  color: white;
}

.info p {
  font-size: 30px;
  padding: 0 10px;
  margin: 10px 0;
  margin-top: 0px;
  color: white;
}

.info-container {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background-clip: padding-box
}

.info button {
  color: white;
  border-radius: 10px;
  width: 10%;
  font-size: 13px;
  font-weight: 600;
  border: black;
  border-width: thin;
  float: left;
  margin-top: 9px;
  background-color: #04AA6D;
  text-decoration: none;
  width: auto;
  height: 24px;
  transition: 0.5s;
}

.info button:hover {
  padding-right: 20px;
  padding-left: 20px;
}

.info-container {
  margin: 0px 20px;
  padding: 12px 0px;
}

.github {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  text-align: center;
  animation: 1s ease-in 0s 1 opacityAnim;
}

.github a {
  font-weight: bold;
  color: white;
  font-size: 60px
}

.github a b {
  background: -webkit-linear-gradient(rgb(173, 210, 71), rgb(210, 247, 3));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.github textarea {
  vertical-align: center;
  padding: 0px;
  white-space: pre;
  text-align: center;
  min-width: 392px;
  max-width: 100%;
  resize: none;
  margin: 0;
  height: 18px;
}

.github button {
  outline: 0;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  height: 30px;
  background-color: #9147ff;
  color: white;
  padding: 0 10px;
  margin: -4px 10px;
  margin-top: 15px;
}

.github button:hover {
  background-color: #772ce8;
}

.row {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.line {
  animation: 2s ease-out 0s 1 drawLineFromRight;
  animation-fill-mode: forwards;
  border-top: 5px solid rgb(226, 221, 221);
  padding: 0;
  margin: 0px
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0.2;
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0.2;
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromUnder {
  0% {
    transform: translateY(20%);
    opacity: 0.2;
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes drawLineFromRight {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes opacityAnim {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

@keyframes wiggle {

  0%,
  7% {
    transform: rotateZ(0);
  }

  15% {
    transform: rotateZ(-2deg);
  }

  20% {
    transform: rotateZ(2deg);
  }

  25% {
    transform: rotateZ(-5deg);
  }

  30% {
    transform: rotateZ(2deg);
  }

  35% {
    transform: rotateZ(-1deg);
  }

  40%,
  100% {
    transform: rotateZ(0);
  }
}

.width-full {
  width: 100%;
}

.small {
  font-size: 80%;
}

.grey {
  color: #999999;
}

.hidden {
  display: none;
}

.center {
  margin: auto;
  width: 100%;
  padding: 10px;
}

.pointer {
  cursor: pointer;
}

.white {
  color: white;
}

.passwordhelper {
  background: -webkit-linear-gradient(rgb(173, 210, 71), rgb(210, 247, 3));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.passwordhelper:hover {
  font-size: 120%;
  transition: 5s
}

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .home-intro {
    line-height: 1;
    width: 100%;
  }
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
  .home-intro {
    line-height: 1;
  }
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px) {
  .home-intro {
    line-height: 0.8;
  }

  .home-intro h1 {
    font-size: 40px;
  }

  .home-intro h2 {
    font-size: 20px;
  }

  ul.horizontal {
    font-size: 12px;
  }

  ul.horizontal li a {
    font-size: 8;
  }
}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .home-intro {
    line-height: 0.8;
    width: auto;
  }

  .home-intro h1 {
    font-size: 40px;
  }

  .home-intro h2 {
    font-size: 20px;
  }

  ul.horizontal {
    width: auto;
    font-size: 12px;
  }

  ul.horizontal li a {
    font-size: 8;
  }

  .info a {
    font-size: 24px;
  }

  .info p {
    font-size: 18px;
    padding: 0 10px;
    margin: 10px 0;
    margin-top: 0px;
  }

  .info button {
    margin-top: 3px;
    height: 24px;
  }

  .home-left {
    width: auto;
    font-size: 80%;
    padding: 10px;
    margin: 5px;
  }


  .home-left img {
    max-width: 200px
  }

  .github a {
    font-size: 20px
  }

  .github textarea {
    padding: 0px;
    white-space: pre;
    min-height: 30px;
    min-width: 30px;
    max-width: 80px;
    resize: none;
    margin: 0;
    height: 18px;
  }

  .center {
    margin: auto;
    width: auto;
    padding: auto;
  }

  .github button {
    display: block;
  }
}

/* #### iPhone 5 Portrait or Landscape #### */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .home-intro {
    line-height: 1;
  }
}

/* #### iPhone 6 and 6 plus Portrait or Landscape #### */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {
  .home-intro {
    line-height: 1;
    width: 100%;
  }
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .home-intro {
    line-height: 1;
    width: auto;
  }

  ul.horizontal {
    width: auto;
  }
}

/* #### Desktops #### */
@media screen and (min-width: 1024px) {}